$color-font: #000;
$color-border: #CDCDCD;
$color-background: #FFF;
$color-selected: rgba(0, 0, 0, 0.1);
$whitespace: 10px;

html, body{
   padding:0px;
   margin:0px;
   height:100%;
}

body *, body *:after, body, *:before{
   font-family: 'Karla', sans-serif;
   color:$color-font;
   box-sizing:border-box;
   display:block;
   padding:0px;
   margin:0px;
   background:none;
   border:none;
	user-select:none;

}
script, style{ display:none; }

kanban{
   width:100%;
   height:100%;
   background: $color-background;
   display:flex;
   overflow:auto;
   lane{
      min-height:100%;
      flex:1;
      min-width:200px;
      border-right:1px solid $color-border;
      display:flex;
      flex-direction: column;
      user-select:none;
      &:last-of-type{
         border-right:none;
      }
      lane-title{
         padding:$whitespace;
         text-align:center;
         user-select:none;
         white-space:nowrap;
      }

      lane-cards{
         flex:1;
         overflow:auto;
         card{
            border:0.1px solid transparent;
            user-select:none;
            position:relative;

            &.held{
               visibility:hidden;
               &:after{
                  visibility:visible;
                  content: '';
                  background:$color-selected;
                  position:absolute;
                  top:0px; left:0px;
                  width:100%; height:100%;
               }
            }
         }
      }

      &.collapse{
         max-width:40px;
         min-width:40px;

         lane-title{
            writing-mode: vertical-rl;
            text-orientation: upright;
            min-height:100%;
            height:100%;
            flex:1;
         }

         lane-cards{
            display:none;
         }
      }
   }

   ghost{
      border:0.1px solid transparent;
      user-select:none;
      position:fixed;
      top:0px;
      left:0px;
      pointer-events:none;
      z-index:1000;
      opacity:0.5;
      display:none;
   }
}
